*{margin: 0px;padding: 0px;}
ul,li{list-style: none;}
ul,li,a{text-decoration: none;color: #000;}
body{background-color: rgb(255,255,255);background-image: url("../Imgs/bbg.gif");}

#JS_n_header_top_banner{width: 1345px;height: 50px;float: left;background-image: url("../Imgs/1379735379411006704.jpg");}
#closeX{width: 16px;height: 16px;float: right;background-color: rgb(204, 0, 0); color:rgb(255, 255, 255);line-height: 16px;text-align: center; cursor: pointer;}
#Top_ads{width: 980px;height: 50px;display: block;background-image: url("../Imgs/1379825931673339292.jpg");float: left;margin-left: 150px;}

#page_header{width: 1345px;height: 112px;float: left;}
#logo_Left{width: 146px;height: 53px;float: left;padding: 29px 0 30px 0;margin-left: 50px;}
#JS_Header_Logo_link_home{width: 146px;height: 53px;display: block;float: left;background-image: url("../Imgs/bg2.png");background-position: 0px -318px;}

#city_Left{width: 145px;height: 36px;padding: 46px 0 30px 10px;float: left;}
#show{width: 145px;height: 22px;float: left;}
#DY_site_name{width: 51px;height: 22px;display: block;float: left;color: rgb(201, 3, 59);font-size: 17px;line-height: 22px;font-family: "微软雅黑";}
#selectCity{width: 59px;height: 18px;display: block;float: left;background-image: url("../Imgs/bg2.png");background-position: -77px -175px;color: rgb(113, 113, 113);font-size: 12px;line-height: 18px;padding-left: 5px;margin-top: 2px;}
#en_name{width: 121px;height: 14px;display: block; float: left;background-image: url("../Imgs/bg2.png");background-position: 0px -371px;}
#topAd_Left{width: 145px;height: 80px;float: left;padding-left: 40px;padding-top: 10px;}
#tAD_pic{width: 145px;height: 90px;display: block;float: left;background-image: url("../Imgs/1379734924287004584.gif");}

#topArea_Right{width: 650px;height: 96px;float: left;padding-top: 5px;margin-left: 50px;}
#topMenu{width: 650px;height: 24px;float: left;}
#welyou{width: 120px;height: 24px;display: block;float: left;color: rgb(81, 81, 81);font-size: 12px;line-height: 24px;}
.fg{width: 15px;height: 24px;display: block;float: left;color: rgb(81, 81, 81);font-size: 12px;line-height: 24px;text-align: center;}
#login{width: 24px;height: 24px;display: block;float: left;color: rgb(81, 81, 81);font-size: 12px;line-height: 24px;}
#register{width: 24px;height: 24px;display: block;float: left;color: rgb(81, 81, 81);font-size: 12px;line-height: 24px;}
#order_list{width: 48px;height: 24px;display: block;float: left;color: rgb(81, 81, 81);font-size: 12px;line-height: 24px;}
#client{width: 36px;height: 24px;display: block;float: left;color: rgb(81, 81, 81);font-size: 12px;line-height: 24px;}

#hp_c{width: 67px;height: 24px;float: left; border-left: 1px;border-right: 1px;}
#head_help{width: 67px;height: 24px;display: block;float: left; color: rgb(81, 81, 81);font-size: 12px;line-height: 24px; background-image: url("../Imgs/bg2.png");background-position: 0px -146px;padding-left: 10px;}

#helpcenter{width: 70px;height: 55px;float: left;position: absolute; top: 76px;left: 915px;border:1px solid rgb(214, 214, 214);background-color: rgb(255,255,255);display: none;}
#hp1{width:68px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(81,81,81);text-align: center; margin-top: 10px;}
#hp2{width:68px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(81,81,81);text-align: center;}

#shoucang{width: 48px;height: 24px;display: block;float: left;color: rgb(81, 81, 81);font-size: 12px;line-height: 24px;}

#head_phone{width: 150px;height: 24px;float: left;}
#place{width: 60px;height: 24px;display: block;float: left;color: rgb(81, 81, 81);font-size: 12px;line-height: 24px;}
#hotLine{width: 73px;height: 24px;display: block;float: left;color: rgb(201, 3, 59);font-size: 12px;line-height: 20px;}
#sinaLink{width: 16px;height: 24px;display: block;float: left;background-image:url("../Imgs/bg2.png");background-position: 0px -198px;}

#btMap{width: 650px;height: 35px;float: left;margin-top: 19px;}
#search{width: 403px;height: 32px;border:1px solid rgb(214, 214, 214);float: left;padding-left: 11px;}
#search_txt{width: 339px;height: 32px;display: block;float: left;border:0px;background-color: transparent;line-height: 32px;background-image: url("../Imgs/search_pic.gif");background-repeat: no-repeat;}
#submit{width: 51px;height: 32px;padding: 0 6px 0 6px;display: block;float: left;background-image: url("../Imgs/bg2.png");background-position: -27px -195px;}
#cartLink{width: 172px;height: 35px;display: block;float: left;background-image: url("../Imgs/bg2.png");background-position: 0px -110px;cursor: pointer;margin-left: 55px;}
#carlink_notice{width: 258px;height: 56px;float: left;background-color: rgb(255,255,255);position: absolute;top: 133px;left: 968px;border:1px solid rgb(214, 214, 214);display: none;}
#noticetxt{width: 258px;height: 16px;display: block;float: left;font-size: 12px;line-height: 16px;color: rgb(81, 81, 81);text-align: center; margin-top: 20px;}

#cartxt{width: 36px;height: 35px;display: block;float: left;font-size: 12px;line-height: 35px;color: rgb(120, 120, 120);margin-left: 60px;}
#numb{width: 7px;height: 35px;padding: 0 5px 0 5px;font-size: 12px;line-height: 35px;color: rgb(215, 0, 0);font-weight: bold;display: block;float: left;}
#danwei{width: 12px;height: 35px;display: block;float: left;font-size: 12px;line-height: 35px;color: rgb(51, 51, 51);}

#hot_search{width: 416px;height: 14px;margin-top: 5px;float: left;}
#hsearch{width: 60px;height: 14px;display: block;float: left;font-size: 12px;line-height: 14px;color: rgb(153, 153, 153);}
#s1{width: 40px;height: 14px;display: block;float: left;font-size: 12px;line-height: 14px;color: rgb(255, 102, 0);padding: 0 2px 0 2px;}
#s2{width: 52px;height: 14px;display: block;float: left;font-size: 12px;line-height: 14px;color: rgb(153, 153, 153);padding: 0 2px 0 2px;}
#s3{width: 40px;height: 14px;display: block;float: left;font-size: 12px;line-height: 14px;color: rgb(153, 153, 153);padding: 0 2px 0 2px;}
#s4{width: 28px;height: 14px;display: block;float: left;font-size: 12px;line-height: 14px;color: rgb(153, 153, 153);padding: 0 2px 0 2px;}
#s5{width: 40px;height: 14px;display: block;float: left;font-size: 12px;line-height: 14px;color: rgb(153, 153, 153);padding: 0 2px 0 2px;}
#s6{width: 28px;height: 14px;display: block;float: left;font-size: 12px;line-height: 14px;color: rgb(153, 153, 153);padding: 0 2px 0 2px;}

#globa-nav{width: 1345px;height: 39px;float: left;background-color: rgb(201, 3, 59);}
#allGoodsCat_Left{width: 230px;height: 39px;display: block;float: left;background-image: url("../Imgs/bg2.png");background-position: 0px -32px;background-repeat: repeat-x;font-size: 15px;line-height: 39px;font-weight: bold; color: rgb(255, 255, 255);text-align:center;margin-left: 46px;}
#JS_Header_Home_Link{width: 88px;height: 39px;display: block;float: left;background-image: url("../Imgs/bg2.png");background-position: 0px -71px;font-size: 15px;line-height: 39px;color: rgb(255,255,255);font-weight: 700;text-align: center;}
#jiaju{width: 75px;height: 39px;display: block;float: left;font-size: 15px;line-height: 39px;color: rgb(255,255,255);font-weight: 700;text-align: center;}
#jiancai{width: 75px;height: 39px;display: block;float: left;font-size: 15px;line-height: 39px;color: rgb(255,255,255);font-weight: 700;text-align: center;}
#jiafang{width: 90px;height: 39px;display: block;float: left;font-size: 15px;line-height: 39px;color: rgb(255,255,255);font-weight: 700;text-align: center;}
#tehui{width: 90px;height: 39px;display: block;float: left;font-size: 15px;line-height: 39px;color: rgb(255,255,255);font-weight: 700;text-align: center;}
#th_pic{width: 25px;height: 15px;display: block;float: left;background-image: url("../Imgs/new4.gif");background-repeat: no-repeat; position: absolute;left: 680px;top: 160px;}
#tiyan{width: 75px;height: 39px;display: block;float: left;font-size: 15px;line-height: 39px;color: rgb(255,255,255);font-weight: 700;text-align: center;}
#ty_pic{width: 25px;height: 15px;display: block;float: left;background-image: url("../Imgs/new4.gif");background-repeat: no-repeat; position: absolute;left: 755px;top: 160px;}
#zhuangxiu{width: 75px;height: 39px;display: block;float: left;font-size: 15px;line-height: 39px;color: rgb(255,255,255);font-weight: 700;text-align: center;}

#Menu_Right{width: 168px;height: 39px;float: right;background-color: rgb(178, 0, 46);margin-right: 60px;}
#menu1{width: 48px;height: 39px;display: block;float: left;font-size: 14px;font-weight: 700;color: rgb(255, 255, 255);text-align: center;line-height: 39px;}
#menu2{width: 48px;height: 39px;display: block;float: left;font-size: 14px;font-weight: 700;color: rgb(255, 255, 255);text-align: center;line-height: 39px;}
#menu3{width: 62px;height: 39px;display: block;float: left;font-size: 14px;font-weight: 700;color: rgb(255, 255, 255);text-align: center;line-height: 39px;}

#top_bg{width: 1345px;height: 400px;float: left;background-image: url("../Imgs/1371069451835032492.jpg");}
#JS_index_menu_box{width: 230px;height: 400px;float: left;background-color: rgb(255, 255, 255);margin-left: 45px;}

#list_jiaju{width: 225px;height: 90px;float: left;border-left: 4px solid rgb(255, 255, 255);border-bottom: 1px solid rgb(234, 234, 234);}
.catName{width: 190px;height: 22px;float: left;margin-left: 20px;margin-top: 10px;}
#jiaju_top{width:60px;height: 22px;background-image: url("../Imgs/bg7.png");background-position: -244px 0px;background-repeat: no-repeat;}
.jiaju_tittle{width: 60px;height: 19px;float: left;font-size: 14px;line-height: 22px;font-weight: 700;font-family: "微软雅黑"; color: rgb(51, 51, 51);margin-left: 30px;}
.menu_content{width: 196px;height: 47px;float: left;margin-top: 3px;margin-left: 20px;}
#jiaju1{width: 24px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiaju2{width: 24px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiaju3{width: 24px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiaju4{width: 24px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiaju5{width: 36px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiaju6{width: 48px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiaju7{width: 48px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);}
.hideMap{width: 750px;height: 459px;position: absolute;background-color: #fff;top:201px;left: 275px;display: none;}
.topMap{width: 750px;height: 370px;float: left;}
.subCat{width: 490px;height: 370px;float: left;}
.topMap_ad{width: 250px;height: 370px;float: right;}
.bottomMap{width: 750px;height: 88px;float: left;}
.sc_col{width: 245px;height: 282px;float: left; margin-top: 20px;}
#tm_ad1{width: 250px;height: 370px;float: left;}
.c_item{width: 220px;height: 94px;margin-left: 25px;margin-top: 20px;float: left;}
.c_item_T{width: 220px;height: 22px;float: left;border-bottom: 2px solid rgb(51, 51, 51);}
.cit_t{width: auto;height: 19px;display: block;float: left;font-size: 14px;line-height: 18px;color: rgb(51, 51, 51);font-family: "微软雅黑";font-weight: 700;}
.c_item_C{width: 220px;height: 70px;float: left;}
.cic_a{width: auto;height: 15px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(101,101,101);}
.hft_sx{width: auto;height: 15px;display: block;float: left;color:#ccc;margin-right: 3px;margin-left: 3px;}
.fl1{width: 220px;height: 15px;float: left;margin-top: 10px;}
.btm_brand{width: 136px;height: 72px;float: left;margin-top: 10px;}



#list_jiancai{width: 225px;height: 90px;float: left;border-left: 4px solid rgb(255, 255, 255);border-bottom: 1px solid rgb(234, 234, 234);}
#jiancai_top{width:60px;height: 22px;background-image: url("../Imgs/bg7.png");background-position: -244px -22px;background-repeat: no-repeat;}
#jiancai1{width: 48px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiancai2{width: 48px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiancai3{width: 48px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiancai4{width: 60px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiancai5{width: 48px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiancai6{width: 48px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);}

#list_jiashi{width: 225px;height: 90px;float: left;border-left: 4px solid rgb(255, 255, 255);border-bottom: 1px solid rgb(234, 234, 234);}
#jiashi_top{width:60px;height: 22px;background-image: url("../Imgs/bg7.png");background-position: -244px -44px;background-repeat: no-repeat;}
#jiashi1{width: 48px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiashi2{width: 48px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiashi3{width: 48px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiashi4{width: 48px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiashi5{width: 48px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}
#jiashi6{width: 48px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(103, 103, 103);margin-right: 10px;}

#hot_tj{width: 230px;height: 46px;float: left;border-bottom: 1px solid rgb(234, 234, 234);}
#htj1{width: 30px;height: 15px;display: block;float: left;font-size: 14px;line-height: 14px;color: rgb(204, 0, 0);font-weight: bold;margin-top: 15px;margin-left: 25px;}
#htj2{width: 24px;height: 15px;display: block;float: left;font-size: 12px;line-height: 14px;color: rgb(103, 103, 103);margin-top: 15px;margin-left: 10px;}
#htj3{width: 36px;height: 15px;display: block;float: left;font-size: 12px;line-height: 14px;color: rgb(103, 103, 103);margin-top: 15px;margin-left: 10px;}
#htj4{width: 24px;height: 15px;display: block;float: left;font-size: 12px;line-height: 14px;color: rgb(103, 103, 103);margin-top: 15px;margin-left: 10px;}

#othermenu{width: 225px;height: 80px;float: left;border-left: 4px solid rgb(255, 255, 255);border-bottom: 1px solid rgb(234, 234, 234);}
#othm_content{width: 202px;height: 49px;float: left;}
#otm1{width: 40px;height: 24px;display: block;float: left;font-size: 14px;line-height: 24px; font-weight: 700;color: rgb(205, 1, 0);margin-top: 15px;margin-left: 20px;}
#otm2{width: 40px;height: 24px;display: block;float: left;font-size: 14px;line-height: 24px; font-weight: 700;color: rgb(205, 1, 0);margin-top: 15px;}
#otm3{width: 49px;height: 24px;display: block;float: left;font-size: 14px;line-height: 24px; color: rgb(51, 51, 51);margin-top: 15px;}
#otm4{width: 50px;height: 24px;display: block;float: left;font-size: 14px;line-height: 24px; font-weight: 700;color: rgb(205, 1, 0);margin-top: 15px;}
#otm5{width: 40px;height: 24px;display: block;float: left;font-size: 14px;line-height: 24px; font-weight: 700;color: rgb(205, 1, 0);margin-top: 10px;margin-left: 20px;}
#otm6{width: 40px;height: 24px;display: block;float: left;font-size: 14px;line-height: 24px; color: rgb(51, 51, 51);margin-top: 10px;}
#otm7{width: 82px;height: 24px;display: block;float: left;font-size: 14px;line-height: 24px; font-weight: 700;color: rgb(205, 1, 0);margin-top: 10px;}

#w_no_subject1{width: 1190px;height: 374px;float: left;margin-left: 45px;margin-top: 20px;}
#side_Left{width: 230px;height: 374px;float: left;}
#ad_long{width: 228px;height: 120px;border:1px solid rgb(221, 221, 221);float: left;background-image: url("../Imgs/1378673233286070130.jpg");}
#sl_tab{width: 228px;height: 240px;border:1px solid rgb(221, 221, 221);float: left;margin-top: 10px;}
#sl_tab_nav{width: 228px;height: 32px;float: left;}
#tab_nav_p1{width: 114px;height: 31px;display: block;float: left;border-top: 2px solid rgb(205, 47, 46);font-size: 14px;line-height: 31px;color: rgb(51, 51, 51);font-family: "微软雅黑";font-weight: 700;text-align: center;}
#tab_nav_p2{width: 113px;height: 31px;display: block;float: left;border-top: 2px solid rgb(104, 103, 101);border-left: 1px solid rgb(104, 103, 101);background-color: rgb(246, 246, 246);font-size: 14px;line-height: 31px;color: rgb(104, 103, 101);font-family: "微软雅黑";text-align: center;}
#gg_long{width: 228px;height: 210px;float: left;}
.gl_c1{width: 155px;height: 26px;display: block;float: left;font-size: 12px;line-height: 26px;color: rgb(101, 101, 101);margin-top: 2px;margin-left: 20px;}
#ggl1{margin-top: 12px;}

#main_Right{width: 950px;height: 374px;float: right;}
#main_Right_head{width: 950px;height: 29px;float: left;}
#mwel{width: 68px;height: 28px;display: block;float: left;font-size: 17px;line-height: 28px;font-weight: 700;color: rgb(51, 51, 51);font-family: "微软雅黑";}
#m_red{width: 143px;height: 28px;display: block;float: left;font-size: 17px;line-height: 28px;font-weight: 700;color: rgb(199, 40, 39);font-family: "微软雅黑";}
#weekly{width: 67px;height: 21px;display: block;float: left;background-image: url("../Imgs/bg7.png");background-position: 0px 0px;font-size: 12px;line-height: 21px;color: rgb(255, 255, 255);text-align: center;}
#m_h_right{width: 86px;height: 28px;float:right;}
#r_pic{width: 9px;height: 14px;display: block;float: left;background-image: url("../Imgs/bg7.png");background-position: 0px -236px;margin-top: 5px;}
#r_c{width: 77px;height: 28px;display: block;float: left;font-size: 12px;line-height: 28px;color: rgb(255, 102, 0);}

#head_bg{width: 950px;height: 2px;float: left;background-color: rgb(222, 222, 222);}

#body_week_body{width: 948px;height: 279px;float: left;border:1px solid rgb(221, 221, 221);background-color: rgb(255, 255, 255);border-top: 0px;}
.goods{width: 315px;height: 279px;float: left;}
#w_g_pic1{width: 290px;height: 192px;display: block;float: left;background-image: url("../Imgs/YKkxtD0+l8CT6mdTP0jUTosXyzGqRaYb484nDncYwHMcggFmRmj14pwbwwE9lLfPfSP41CW2UbEHlXf55+ddkg==.jpg");margin-left: 13px;margin-top: 14px;}
.g_info{width: 280px;height: 42px;float: left;margin-left: 13px;margin-top: 10px;}
#w_gname1{width: 280px;height: 15px;display: block;float: left;font-size: 12px;line-height: 15px;color: rgb(51, 51, 51);text-align: center;}
.price_info{width: 280px;height: 22px;display: block;float: left;}
.p_p1{width: 45px;height: 22px;display: block;float: left;font-size: 12px;line-height: 22px;color: rgb(51, 51, 51);margin-left: 95px;}
.yen_red{width: 7px;height: 17px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(215, 0, 0);}
.pr_red{width: 40px;height: 22px;display: block;float: left;font-size: 16px;line-height: 20px;color: rgb(215, 0, 0);font-family: "微软雅黑";}
#w_g_pic2{width: 290px;height: 192px;display: block;float: left;background-image: url("../Imgs/YKkxtD0+l8CT6mdTP0jUTosXyzGqRaYb484nDncYwHOW5AY9VmAuzoRGOmSeSVUaxSlK9xYYoFiyxoUtKnjhuQ==.jpg");margin-left: 13px;margin-top: 14px;}
#w_g_pic3{width: 290px;height: 192px;display: block;float: left;background-image: url("../Imgs/YKkxtD0+l8CT6mdTP0jUTosXyzGqRaYb484nDncYwHOMDWqOxcee1PBKuxBRl7JTH_SqnyTn+_Eq89etfTO10Q==.jpg");margin-left: 13px;margin-top: 14px;}

#exprnum{width: 948px;height: 62px;float: left;border:1px solid rgb(221, 221, 221);border-top: 0px;}
#exp_1{width: 20px;height: 62px;display: block;float: left;color: rgb(205, 1, 2);font-size: 12px; letter-spacing: 6px; color: rgb(255, 255, 255);background-color: rgb(205, 1, 2);padding-left: 10px;}
#exp_2{width: 154px;height: 60px;float: left;border-right: 1px solid rgb(221, 221, 221);}
#exp2_t{width: 104px;height: 15px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(119, 119, 119);font-weight: 700;margin-top: 15px;margin-left: 18px;}
#exp2_ph{width: 144px;height: 15px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(119, 119, 119);margin-left: 18px;margin-top: 5px;}
#exp3{width: 527px;height: 60px;float: left;border-right: 1px solid rgb(221, 221, 221);}
#exp3_c{width: 519px;height: auto;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(119, 119, 119);margin-top: 15px;margin-left: 10px;}
#send_f_mesg{width: 119px;height: 27px;display: block;float: left;background-image: url("../Imgs/send_msg.png");background-position: 0px 0px;margin-top: 15px;margin-left: 10px;}

#mtl2{width: 1190px;height: 305px;float: left;margin-top: 12px;margin-left: 45px;}
#groupbuy_left{width: 230px;height: 305px;float: left;}
#groupbuy_l_top{width: 230px;height: 31px;float: left;}
#group_l_tittle{width: 68px;height: 31px;display: block;float: left;font-size: 17px;font-weight: 700;font-family: "微软雅黑";line-height: 31px;color: rgb(51, 51, 51);}
#group_l_content{width: 228px;height: 272px;float: left;background-color: rgb(255,255,255);border:1px solid rgb(221, 221, 221);}
#group_l_c_pic{width: 210px;height: 192px;display: block;float: left;margin: 10px 0 0 10px;background-image: url("../Imgs/1379788252704416133.jpg");}
#g_l_cont{width: 204px;height: 37px;float: left;margin-top: 17px;background-image: url("../Imgs/bg7.png");background-position: -256px -66px;background-repeat: no-repeat;background-color: rgb(204, 46, 45);}
#cont_l{width: 85px;height: 38px;float: left;margin-left: 20px;}
#cont_sp1{width: 39px;height: 37px;display: block;float: left;font-size: 12px;line-height: 37px;color: rgb(255, 255, 255);}
.yen{width: 8px;height: 37px;display: block;float: left;font-size: 14px;line-height: 36px;color: rgb(255, 255, 255);}
.price{width: 33px;height: 37px;display: block;float: left; font-size: 19px;line-height: 36px;color: rgb(255, 255, 255);font-family: "微软雅黑";}
#group_l_r{width: 67px;height: 27px;display: block;float: right;margin-top: 5px;margin-right: 5px;background-image: url("../Imgs/bg7.png");background-position: -67px 0px;}


#limitTime_Right{width: 956px;height: 305px;float: right;}
#limitTime_Right_top{width: 956px;height: 30px;float: left;}
#l_r_name{width: 118px;height: 30px;display: block;float: left;font-size: 17px;line-height: 30px;font-weight: 700;font-family: "微软雅黑"; background-image: url("../Imgs/bg7.png");background-position: 75px -57px;background-repeat: no-repeat;}
#l_r_r{width: 40px;height: 30px;float: right;}
#JS_limit_left{width: 16px;height: 16px;display: block;float: left;background-image: url("../Imgs/bg7.png");background-position: -44px -63px;background-repeat: no-repeat;margin-top: 10px;margin-right: 5px;}
#JS_limit_right{width: 16px;height: 16px;display: block;float: left;background-image: url("../Imgs/bg7.png");background-position: -61px -63px;background-repeat: no-repeat;margin-top: 10px;}
#JS_limit_time{width: 956px;height: 275px;float: left;}

#js_lt_b1{border:1px solid rgb(221, 221, 221);}
#js_lt_b2{border:1px solid rgb(221, 221, 221);}
#js_lt_b3{border:1px solid rgb(221, 221, 221);}

#js_lt_pic1{width: 290px;height: 192px;display: block;float: left;background-image: url("../Imgs/YKkxtD0+l8CT6mdTP0jUTosXyzGqRaYb484nDncYwHPL4hF7xArPbqal9uoXwrhBC2lvGTcYhGM7UYMeUMyYxg==.jpg");margin-left: 13px;margin-top: 14px;}
#js_lt_pic2{width: 290px;height: 192px;display: block;float: left;background-image: url("../Imgs/YKkxtD0+l8CT6mdTP0jUTosXyzGqRaYb484nDncYwHPbkwiPmKpeLzZq4KP6nWbXYuiwwNtYlG8LCCeY2JAWiGrC2OC9yUg7xvYtgowyBtcKeueJa7A1wk2thq7QOd9d.jpg");margin-left: 13px;margin-top: 14px;}
#js_lt_pic3{width: 290px;height: 192px;display: block;float: left;background-image: url("../Imgs/YKkxtD0+l8CT6mdTP0jUTosXyzGqRaYb484nDncYwHMRtr4mOAiUbB4az9QKgfLyaqwl9r2yxL_HVRspgU+_Eg==.jpg");margin-left: 13px;margin-top: 14px;}

.floor1-2{width: 1190px;height: 643px;float: left;margin-left: 45px;margin-top: 20px;}
.fl_header{width: 1190px;height: 35px;float: left;}
.fl_t_left{width: 145px;height: 38px;float: left;}
#fl_tittle{width: 145px;height: 35px;float: left;background-image: url("../Imgs/bg7.png");background-position: 0px -270px;}
.fl_t_right{width: 66px;height: 30px;float: right;background-image: url("../Imgs/bg7.png");background-position: -206px -167px;font-size: 12px;line-height: 30px;color: rgb(204, 2, 0);margin-top: 5px;}

.fl_content{width: 1188px;height: 604px;float: left;border:1px solid rgb(221, 221, 221);margin-top: 2px;}
#fl1_1{width: 202px;height: 290px;display: block;float: left;background-image: url("../Imgs/fl1_1.jpg");margin-top: 5px;margin-left: 8px;}
#fl1_2{width: 478px;height: 290px;display: block;float: left;background-image: url("../Imgs/fl1_2.jpg");margin-top: 5px;margin-left: 8px;}
#fl1_3{width: 235px;height: 290px;display: block;float: left;background-image: url("../Imgs/fl1_3.jpg");margin-top: 5px;margin-left: 8px;}
#fl1_4{width: 235px;height: 290px;display: block;float: left;background-image: url("../Imgs/fl1_4.jpg");margin-top: 5px;margin-left: 8px;}
#fl1_5{width: 202px;height: 290px;display: block;float: left;background-image: url("../Imgs/fl1_5.jpg");margin-top: 5px;margin-left: 8px;}
#fl1_6{width: 235px;height: 290px;display: block;float: left;background-image: url("../Imgs/fl1_6.jpg");margin-top: 5px;margin-left: 8px;}
#fl1_7{width: 478px;height: 290px;display: block;float: left;background-image: url("../Imgs/fl1_7.jpg");margin-top: 5px;margin-left: 8px;}
#fl1_8{width: 235px;height: 290px;display: block;float: left;background-image: url("../Imgs/fl1_8.jpg");margin-top: 5px;margin-left: 8px;}

#fl_tittle2{width: 145px;height: 35px;float: left;background-image: url("../Imgs/bg7.png");background-position: 0px -306px;}

#fl2_1{width: 202px;height: 290px;display: block;float: left;background-image: url("../Imgs/f2pic1.jpg");margin-top: 5px;margin-left: 8px;}
#fl2_2{width: 235px;height: 290px;display: block;float: left;background-image: url("../Imgs/f2pic2.jpg");margin-top: 5px;margin-left: 8px;}
#fl2_3{width: 235px;height: 290px;display: block;float: left;background-image: url("../Imgs/f2pic3.jpg");margin-top: 5px;margin-left: 8px;}
#fl2_4{width: 478px;height: 290px;display: block;float: left;background-image: url("../Imgs/f2pic4.jpg");margin-top: 5px;margin-left: 8px;}
#fl2_5{width: 202px;height: 290px;display: block;float: left;background-image: url("../Imgs/f2pic5.jpg");margin-top: 5px;margin-left: 8px;}
#fl2_6{width: 478px;height: 290px;display: block;float: left;background-image: url("../Imgs/f2pic6.jpg");margin-top: 5px;margin-left: 8px;}
#fl2_7{width: 235px;height: 290px;display: block;float: left;background-image: url("../Imgs/f2pic7.jpg");margin-top: 5px;margin-left: 8px;}
#fl2_8{width: 235px;height: 290px;display: block;float: left;background-image: url("../Imgs/f2pic8.jpg");margin-top: 5px;margin-left: 8px;}

#fl3_tittle{width: 145px;height: 35px;float: left;background-image: url("../Imgs/bg7.png");background-position: 0px -343px;}
.fl3_r1{width: 450px;height: 30px;float: right;}
.fl3_rword{width: 50px;height: 15px;display: block;float: left;font-size: 12px;line-height: 15px;color: rgb(102, 102, 102);margin-top: 15px;margin-left: 20px;}

#fl3_1{width: 202px;height: 330px;display: block;float: left;background-image: url("../Imgs/fl3pic1.jpg");margin-top: 5px;margin-left: 8px;}
#fl3_2{width: 721px;height: 330px;display: block;float: left;background-image: url("../Imgs/fl3pic2.jpg");margin-top: 5px;margin-left: 8px;}
#fl3_3{width: 235px;height: 330px;display: block;float: left;background-image: url("../Imgs/fl3pic3.jpg");margin-top: 5px;margin-left: 8px;}
#fl3_4{width: 202px;height: 240px;display: block;float: left;background-image: url("../Imgs/fl3pic4.jpg");margin-top: 5px;margin-left: 8px;}
#fl3_5{width: 235px;height: 240px;display: block;float: left;background-image: url("../Imgs/fl3pic5.jpg");margin-top: 5px;margin-left: 8px;}
#fl3_6{width: 235px;height: 240px;display: block;float: left;background-image: url("../Imgs/fl3pic6.jpg");margin-top: 5px;margin-left: 8px;}
#fl3_7{width: 235px;height: 240px;display: block;float: left;background-image: url("../Imgs/fl3pic7.jpg");margin-top: 5px;margin-left: 8px;}
#fl3_8{width: 235px;height: 240px;display: block;float: left;background-image: url("../Imgs/fl3pic8.jpg");margin-top: 5px;margin-left: 8px;}


#hotBrand{width: 1190px;height: 198px;float: left;margin-top: 20px;margin-left: 45px;}
#hb_top{width: 1190px;height: 30px;float: left;border-bottom: 2px solid rgb(221, 221, 221);}
#hb_tittle{width: 75px;height: 24px;display: block;float: left;font-size: 17px;line-height: 30px;font-weight: 700;color: rgb(51, 51, 51);}
.fb{width: 1190px;height: 83px;float: left;}
.fbc{width: 169px;height: 82px;border-bottom: 1px solid rgb(221, 221, 221);border-right: 1px solid rgb(221, 221, 221);float: left;cursor: pointer;}
#bpic1{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1375491081983990029.jpg");margin-left: 42px;}
#bn1{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 60px;}

#bpic2{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1375491309508400385.jpg");margin-left: 42px;}
#bn2{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 70px;}

#bpic3{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1375491340475590230.jpg");margin-left: 42px;}
#bn3{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 70px;}

#bpic3{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1375491340475590230.jpg");margin-left: 42px;}
#bn3{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 70px;}

#bpic4{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1375491369245797913.jpg");margin-left: 42px;}
#bn4{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 70px;}

#bpic5{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1375491390910568597.jpg");margin-left: 42px;}
#bn5{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 60px;}

#bpic6{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1377902043731144208.jpg");margin-left: 42px;}
#bn6{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 70px;}

#bpic7{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1367977290657524613.jpg");margin-left: 42px;}
#bn7{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 70px;}



#b2pic1{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1367971750677794549.jpg");margin-left: 42px;}
#b2n1{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 60px;}

#b2pic2{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1375491601685001177.jpg");margin-left: 42px;}
#b2n2{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 60px;}

#b2pic3{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1376701110341632621.jpg");margin-left: 42px;}
#b2n3{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 70px;}

#b2pic3{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1375491647124647919.jpg");margin-left: 42px;}
#b2n3{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 70px;}

#b2pic4{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1373595061705952708.jpg");margin-left: 42px;}
#b2n4{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 70px;}

#b2pic5{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1375491680758981407.jpg");margin-left: 42px;}
#b2n5{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 80px;}

#b2pic6{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1373595112810679306.jpg");margin-left: 42px;}
#b2n6{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 70px;}

#b2pic7{width: 85px;height: 55px;display: block;float: left; background-image: url("../Imgs/1373595150086693885.jpg");margin-left: 42px;}
#b2n7{width: 50px;height: 20px;display: block;float: left;font-size: 12px;line-height: 20px;color: rgb(102, 102, 102);margin-left: 80px;}

#footer_icon{width: 1190px;height: 95px;float: left;margin-left: 45px;margin-top: 20px;border-bottom: 2px solid rgb(221, 221, 221);}
#order_Left{width: 214px;height: 27px;float: left;margin-top: 32px;}
#s_input{width: 158px;height: 25px;float: left;padding-left: 10px;font-size: 14px;line-height: 27px;}
#orderBtn{width: 54px;height: 27px;display: block;float: left;font-size: 12px;line-height: 27px;color: rgb(255,255,255);text-align: center; background-image: url("../Imgs/bg2.png");background-position: -89px -196px;}
#order_right{width: 895px;height: 30px;float: right;margin-right: 20px;margin-top: 32px;}
.icr{width: 149px;height: 30px;display: block; float: left;}
#icpic1{background-image: url("../Imgs/bg2.png");background-position: 0px -485px;margin-left: 60px;}
#icpic2{background-image: url("../Imgs/bg2.png");background-position: 0px -515px;margin-left: 20px;}
#icpic3{background-image: url("../Imgs/bg2.png");background-position: 0px -545px;margin-left: 20px;}
#icpic4{background-image: url("../Imgs/bg2.png");background-position: 0px -575px;margin-left: 20px;}
#icpic5{background-image: url("../Imgs/bg2.png");background-position: 0px -605px;margin-left: 20px;}

#footer_copy{width: 1190px;height: 88px;float: left;margin-top: 15px;margin-left: 45px;}
#copy_t{width: 800px;height: 15px;float: left; margin-left: 200px;margin-top: 15px;}

.astyle{width: auto;height: 15px;display: block;float: left;font-size: 12px;color: rgb(51, 51, 51);line-height: 15px;}
.blk{width: 5px;height: 15px;font-size: 12px;color: rgb(51, 51, 51);line-height: 15px;display: block;float: left;margin-left: 5px;margin-right: 5px;text-align: center;}
#copy_tm{width: 1000px;height: 15px;display: block;float: left;margin-left: 100px;font-size: 12px;color: rgb(102, 102, 102);line-height: 15px;text-align: center;}
#copy_tb{width: 204px;height: 15px;display: block;float: left;margin-left: 500px;margin-right: 500px; font-size: 12px;color: rgb(120, 120, 120);line-height: 15px;text-align: center;}

#blpic1{width: 82px;height: 30px;display: block;float: left;background-image: url("../Imgs/bg2.png");background-position: 0px -635px;}
#blpic2{width: 82px;height: 30px;display: block;float: left;background-image: url("../Imgs/bg2.png");background-position: -82px -635px;}

#tk{width: 400px;height: 30px;float: left;margin-left: 520px;}